<%= form_with(model: [ item, comment] ) do |form| %>
  <div>
    <%= form.text_area :comment, class:'' %>
  </div>
  <div class="actions">
    <%= form.submit "送信",class:"btn prymary" %>
  </div>
<% end %>