<!-- aboutページ-->

 	<div class="main_visual">
		<strong class="about_title text_about">ABOUT</strong>
		<div class="text_about">
			<p>"Me gusta"とはスペイン語で”好き”という意味です。</p>
			<p>とっておきのお菓子で日頃の感謝を伝えたいけど、家事や育児や仕事に追われ、丁寧に選んでいる時間がない。</p>
			<p>そんな忙しい方のために作られたのが
				<span>MEGUSTA</span>
			です。</p>
			<br>
			<p>１、検索やカテゴリーを使って、相手に合わせた商品を探しましょう。</p>
			<p>２、見つけたらお気に入りへ登録しましょう。マイページへ保存され、何度でも見返すことができます。</p>
			<p>３、何を送るか迷ったら、ランキングや口コミを見て、トレンド商品をチェックしましょう。</p>
			<br>
			<p>さあ、あなたの”好き”を探して、とっておきの感謝を届けましょう。</p>
		</div>
	</div>