<!-- aboutページ-->
<div class="about_position">
	<strong class="about_title target">ABOUT</strong>
 	<div class="about_main_visual target">
		<div class="text_about target">
			<p class="about_font">"Me Gusta"とはスペイン語で”好き”という意味です。</p>
			<p class="about_font">TPOや相手に合わせたとっておきの贈り物で日頃の感謝を伝えたいけど、</p>
			<p class="about_font">家事や育児、仕事に追われ、本当にいいものを探す時間がない。</p>
			<p class="about_font">そんな忙しい女性でも、思いやりや感謝のこもった贈り物を届けてほしい。</p>
			<p class="about_font">そんな願いを込めて作ったのが、
				<span>MEGUSTA</span>
			です。
			</p>
<!--		<br>
			<p>１、検索やカテゴリーを使って、相手に合わせた商品を探しましょう。</p>
			<p>２、見つけたらお気に入りへ登録しましょう。マイページへ保存され、何度でも見返すことができます。</p>
			<p>３、何を送るか迷ったら、ランキングや口コミを見て、トレンド商品をチェックしましょう。</p>
			<br>
			<p>さあ、あなたの”好き”を探して、とっておきの感謝を届けましょう。</p> -->
		</div>
	</div>
</div>