
<h1>Me Gusta</h1>
<!-- メッセージの表示 -->
<% if flash[:notice] %>
  <p class="text-font notice"><%= flash[:notice] %></p>
<% end %>
    <div class="container">
        <div id="theTarget">
            <div class="image1 skipper_size"></div>
            <div class="image2 skipper_size"></div>
            <div class="image3 skipper_size"></div>
            <div class="image4 skipper_size"></div>
            <div class="image5 skipper_size"></div>
        </div>
    </div>


<% @categories.each do |category| %>
  <%= category.name %>
<% end %>

