<h1>User#Home#top</h1>
<!-- メッセージの表示 -->
<% if flash[:notice] %>
  <p class="text-font notice"><%= flash[:notice] %></p>
<% end %>
<div id="container">
        <div id="theTarget">
            <div style="background-image: url(img/test1.jpg)"></div>
            <div style="background-image: url(img/test2.jpg)"></div>
            <div style="background-image: url(img/test3.jpg)"></div>
            <div style="background-image: url(img/test4.jpg)"></div>
            <div style="background-image: url(img/test5.jpg)"></div>
        </div>
</div

<% @categories.each do |category| %>
  <%= category.name %>
<% end %>