        <%= form_for [@category], url:admin_categories_path do |f| %>
        <div class="row">
          <label >カテゴリーの追加</label><br>
          <div class="col-xs-6">
            <%= f.text_field :name, class:'form-control', :placeholder => "例：会社用や贈り物" %>
          </div>
          <div class="actions">
            <%= f.submit "商品新規追加", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>