/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";
    @import " font-awesome ";

//マイページ編集画面
.main {
	width: 100%;
	margin: 0 auto;
}

.profile-text {
	height: auto;
	text-align: left;
	border-radius: 10%;
	border: solid 1px;
	margin: 0 auto;
	margin: 50px 50px;
	padding: 30px 0 30px 0;
}
.actions {
	padding-top: 30px;
}
.main {
	font-family:"Meiryo",sans-serif;
}

//検索フォーム
* {
  box-sizing: border-box;
}

.inner {
  position: relative;
  height: 44px;
  margin: 0 auto;
  width: 44px;
}

.search-btn {
  background: #F27398;
  border-radius: 50%;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  text-align: center;
  width: 44px;
}

.search-btn i {
  color: #fff;
  margin: 0;
}

#searchform {
  height: 44px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 44px;
}

input[type="text"] {
  background: #ccc;
  border: none;
  border-radius: 22px;
  color: #333;
  cursor: pointer;
  height: 44px;
  opacity: 0;
  outline: none;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.7s;
  width: 44px;
  z-index: 5;
}

#submit {
  display: none;
}

input[type="text"]:focus {
  cursor: text;
  opacity: 1;
  width: 300px;
}

//スライドショー
.skipper_size {
   height: 200px;
   width: 200px;
}
.image1{
   background-image: url(test1.jpg);
}
.image2{
   background-image: url(test2.jpg);
}
.image3{
   background-image: url(test3.jpg);
}
.image4{
   background-image: url(test4.jpg);
}
.image5{
   background-image: url(test5.jpg);
}