/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";
    @import "font-awesome";
    @import "slick";
    /*@import "slick-theme";*/
/*common*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block; 
  clear: both;
}
/*font
*/
.text-font1 {
  font-family: "Objective","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}

/*ヘッダー
*/
header {
  width: 100%;
  height:150px;
}
.TopIcon {
  font-size: 50px;
  position: fixed;
  top:0;
  left:20px;
}
.top-title{
  font-size: 80px;
  margin:0 auto;
  text-align: center;
  font-family: 'Economica', sans-serif;
}
.header-link {
  width: 100;
  margin: 0 auto;
  position: relative;
}
.header-text {
  margin:0 auto;
  width: 60%;
  list-style: none;
}

.link-list{
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;

}
body{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;
}
footer{
  width: 100%;
  height: 100px;
  text-decoration: none;
  text-align: center;
  margin:0 auto;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
.icon-list{
  display: inline-block;
}
/*//マイページ編集画面
*/.main {
	width: 100%;
	margin: 0 auto;

}

.profile-text {
	height: auto;
	text-align: left;
	border-radius: 10%;
	border: solid 1px;
	margin: 0 auto;
	margin: 50px 50px;
	padding: 30px 0 30px 0;
}
.actions {
	padding-top: 30px;
}
.main {
	font-family:"Meiryo",sans-serif;
}

/*//検索フォーム*/

.search-content-box {
  width: 50px;
  height: 50px;
  position: fixed;
  top:20px;
  right: 100px;
  z-index: 1020;
}
.inner {
  height: 44px;
  width: 30px;
  position: relative;
}

.search-btn {
  background: #000;
  border-radius: 50%;
  border:#000;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  text-align: center;
  width: 44px;
}

.search-btn i {
  color: #fff;
  margin: 0;
}

#searchform {
  height: 44px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 44px;
}

.search {
  background: #ccc;
  border: none;
  border-radius: 22px;
  color: #333;
  cursor: pointer;
  height: 44px;
  opacity: 0;
  outline: none;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.7s;
  width: 44px;
  z-index: 1020;
}

#submit {
  display: none;
}

input[type="text"]:focus {
  cursor: text;
  opacity: 1;
  width: 300px;
}
/*//ハンバーガー
*/  #hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1001;
}
 
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
 
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
 
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #808080 ;
  border-radius: 4px;
  z-index: 1001;
}
 
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
 
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
 
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
 
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
  z-index: 1001;
}
 
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
 
.menu-trigger.active span:nth-of-type(3) {
-webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
background-color: #fff;
  z-index: 1001;
}
 
/* -- ハンバーガースライドメニュー ---*/
/*  背景部分　position: fixed;⇒top:;とright:;で位置を指定,z-indexで最背面に設置*/
#sp-menu {
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  color: #fff;
  width: 40%;
  min-height: 100%;
  display: none;
  z-index: 1000;
  text-align: center;
}
 
#sp-menu li{
  text-align: center;
  margin-bottom: 50px;
  list-style: none;
}
 
#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/*//アコーディオンメニュー
*/
  .toggle_wrap:last-of-type {
}
.toggle_switch {
  position: relative;
  cursor: pointer;
}
.toggle_switch.open {
}
.toggle_switch:hover {
  background-color: #eee;
}
.toggle_switch::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 11px;
  background: url(http://agdemo.net/sample/toggle/img/arrow_down.svg) no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  transition: transform .2s;
}
.toggle_switch.open::after {
  transform: rotateZ(180deg);
  top: 46%;
}
.toggle_contents {
  display: none;
  padding: 5px 10px;
}

.item-contents{
  float:left
}
.space {
  margin:5px;
}
.item_fontsize{
  font-size: 1px;
}

/*商品一覧*/
.msr_box01 {
  background-color: #fff;
  width: 210px;
  float:left;
  margin: 5px 0 5px 0;
  position: relative;
}
.msr_box01:hover{
  opacity: 0.5 ;
}
.msr_box01 .style{
  width:250px;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  color:#000000;
  display:block;
  padding: 8px;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.msr_box01 img{
  margin:0 0 5px;
}
.msr_box01 .ttl {
  font-size: 16px;
  line-height: 1.6;
}
.msr_box01 p {
  font-size: 13px;
  line-height: 1.6;
}
.msr_box01 .style:hover{
  opacity: 0.8;
  box-shadow: 0 -25px 0px #EFEFEF inset;
  border-radius: 10px;
  background: #F9F9F9;
  line-height: 2;
  border: 1px solid #EFEFEF;
}
.items-contents-picture{
  border-radius: 50px;
  padding: 3px;
  margin: 0 auto;
}
.items{
  width: 80%;
  margin: 0 auto;
}
/*ランキング*/
.rank-box{
  width: 80%;
  margin:0 auto;
  text-align: center;
  padding: 100px;
  background-color: #E5E5E5;
  margin-top: 60px;
  padding: 10px 0 20px 0;
}
.rank-textbox {
  float: left;
  position: relative;
}
.rank_shadow:hover{
  box-shadow: 10px 10px 15px -10px;
  padding:0;
}
.rank_number{
  width: 30px;
  height: 30px;
  position: absolute;
  top:20px;
  left: 10px;
  padding-top: 5px;
  border:solid 2px #fff;
  border-radius: 50px;
  background-color: #fff;
  color:gray;
}
.rank_text_color{
  color:#fff;
  text-align: center;
}
.rank_box_center{
  width: 99%;
  margin: 0 auto;
  height: 300px;
  padding-top: 20px;
}
a {
color:#808080;
}

/*商品詳細*/
.item-contents-picture{
  border-radius: 50px;
  margin: 0 auto;
  padding:5px;
}

/*アコーディオンメニュー*/

#acMenu dt{
display:block;
width:200px;
height:50px;
line-height:50px;
text-align:center;
cursor:pointer;
}
#acMenu dd{
background:#f2f2f2;
width:200px;
height:50px;
line-height:50px;
text-align:center;
display:none;
}


.nav {
  width: 750px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  list-style: none;
}
.nav li a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  background: #9fb7d4;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
}
.nav li ul li a {
  border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
  .nav li ul li ul {
    top: 0;
    left: 110px;
  }
  .nav li ul li ul:before {/*layer-2▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
  }
  .nav li ul li ul li:hover > a {/*layer-3*/
    color: pink;
    background: #afc6e2;
  }
  .nav li ul li ul.left {
    top: 0;
    left: -190px;
  }
  .nav li ul li ul.left:before,/*layer-2-left▷*/
  .nav li ul li ul li ul.left:before {/*layer-3-left▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 190px;
    border: 5px solid transparent;
    border-right: 5px solid #fff;
  }
  .nav li ul li ul.left li:hover > a {/*layer-2-left*/
    color: pink;
    background: #afc6e2;
  }
  .nav li ul li ul li ul.left li:hover > a {/*layer-3-left*/
    color: purple;
    background: #afc6e2;
  }
.content {
  width: 750px;
  height: 200px;
  background: #eee;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

.carousel{
  height: 200px;
  margin:auto;
  width: 80%
}
.carousel .item {
  height: 100%;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:400px;
  }
}

/*タグ*/
.tag_box{
  width: 80%;
  text-align: center;
  margin:0 auto;
  padding:30px;
  height: 500px;
  background-color:#999999;
  margin-top: 60px;
  margin-bottom: 40px;
}

.tag_text_box{
  border-radius:20px;
  border:5px solid #E5E5E5;
  width:200px; height:100px;
  padding: 40px;
  margin:5px 5px 5px 5px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  float: left;
  color:#000;

}
.tag_text_box:hover{
  background-color: #dbb34d;
  box-shadow: 10px 10px 15px -10px;
  color: #fff;
}
.tag_box_center{
  width: 90%;
  margin: 0 auto;
}

.item_index_box{
  width: 100%;
  text-align: center;
  margin:0 auto;
  padding:10px 0px 30px 0 ;
  background-color:#D8D8D8;
  margin-bottom: 40px;
}

.item_box_center{
  margin: 0 auto;
  width: 93%;
  padding:30px 0 30px 0;
}
/*アンダーライン　装飾系
*/
.ander-line{
  width: 50px;
  border:box;
  border:2px solid #dbb34d;
  margin: 0 auto;
  margin-bottom: 10px;
}
h2{
  margin-bottom: 0px;
}
.top_under_line{
  width: 30px;
  border:box;
  border:2px solid #b99747;
  margin: 0 auto;
}
/*商品詳細*/

.item_show_box{
  width: 100%;
  background-color:#fff;
  margin:auto 0;
}
.item_show_textbox{
  width: 80%;
  margin:0 auto;
  background-color: #D8D8D8;
  padding: 30px 40px;
}
.item_text{
  width:90%;
  background-color: #fff;
  margin:0 auto;
  border-radius: 20px;
  padding:  30px;
}
.item-show-picture{
  border-radius: 10px;
  margin-top:10px;
  margin-bottom: 20px;
  padding-bottom:20px;
}
.space{
  width: 400px;
  margin:0 auto;
  padding-bottom: 10px;
  text-align: center;
}
.user-pofile-btn{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style: none;
}
iframe{
}
/*メーカーの詳細ページ店舗登録画面*/
.buttun_center{
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.logout{
  border:box;
  border:solid 2px;
  padding:5px;
}
.logout .humberger{
  width: 20%;
}
/*全体ログイン修正
*/
.maru_ue{
  border-radius: 10px 10px 0 0;
}
.maru_sita{
  border-radius: 0 0 10px 10px;
  padding-bottom: 60px;
}
.maru_kado{
  border-radius:10px;
  padding-bottom: 60px;
}
.items_all{
  width:90%;
  background-color: #fff;
  margin:0 auto;
  border-radius: 20px;
}

/*aboutpage*/
.about_position{
  width:100%;
  height: 600px;
  position: relative;
}
.about_title {
  width: 100px;
  font-size: 90px;
  position: absolute;
  left: 20%;
  bottom: 65%;
  color:gray;
  z-index: 100;
}
.about_main_visual{
  width: 60%;
  height: 500px;
  margin-left:30%;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  background-color: #f7f4ee;
  position: relative;
}
.text_about{
  color: gray;
  position: absolute;
  left: 25%;
  bottom: 30%;
}
.about_font{
  line-height: 2;
  font-size: 15px;
  font-family: serif;
}