<!-- Footer -->
<footer>

  <!-- Footer Links -->
  <div class="container text-center">
      <!-- Grid column -->
    <!-- Footer links -->

    <hr>

    <li class="icon-list">
      <%= fa_icon("facebook") %>
    </li>
    <li class="icon-list">
      <%= fa_icon("twitter") %>
    </li>
    <li class="icon-list">
      <%= fa_icon("google-plus") %>
    </li>
    <li class="icon-list">
      <%= fa_icon("instagram") %>
    </li>

  </div>
  <!-- Footer Links -->

  <!--Copyright-->
   <div class="copyright-area">
    <p class="copyright-text text-center">© 2019 Copyright:
      <strong>MEGUSTA</strong>
    </p>
  </div>

</footer>
<!-- Footer -->
